[user]
  name = Nassredean Nasseri
  email = nassredean@gmail.com
[merge]
  tool = opendiff
[alias]
  p = push --force-with-lease origin HEAD
  ls = branch
  lg = log --pretty=format:'%h    %an    %ad    %s' --date=format:'%a %b %d %H:%M:%S %Y %z'
  co = checkout
  st = status
  cob = checkout -b
  amend = commit --amend --no-edit
  cam = !git add -A && git commit -m
[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto
[color "status"]
  added = green
  changed = red
  untracked = cyan

